.engine {
    grid-template-columns: 350px 2fr 200px 75px;
}

.progress-bar {
    accent-color: violet;
    width: 95%;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 8px;
    color:grey;
    border:none;
    outline: none;
}

.progress-bar::-moz-range-thumb {
    background: violet;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.progress-bar::-moz-range-progress{
    background: violet;
    border:none;
    outline:none;
}


.thumb{
    color: white;
    font-family: "Lexend",serif;
    display: grid;
    grid-template-columns: 175px 1fr;
    width:400px;
    align-items: center;
    gap:15px;

}

.iconholder{
    margin-left: 115px;
    height: 65px;
    width: 65px;
}


.player-thumb{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.bar{
    display: grid;
    grid-template-columns: 0.005fr 1fr 80px;
    margin-right: 10rem;
    margin-left: 12rem;

}

.download-btn{
    padding-right: 20px;
}
.playname{
    width:200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.playname:hover{
    cursor:pointer;
    text-decoration: underline;
}

.artistname{
    font-size: 14px;
    color: rgb(179, 179, 179);
    width:200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}


.details{
    gap:5px;
}

.timer{
    position: relative;
    color: white;
    font-family: "Lexend",serif;
    margin-top: 2px;
    padding-left: 15px;
}

.vol-slider {
    border:none;
    outline: none;
    accent-color: violet;
    height: 0.2rem;
    width:10rem;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 50px;
  }

.vol-slider::-moz-range-progress{
    background: violet;
    border:none;
    outline:none;
}

.vol-slider::-moz-range-thumb {
    background: violet;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media(max-width:1366px){
    .engine{
        grid-template-columns: 250px 2fr 0px 75px;
    }

    .vol-slider {
        display: none;
    }

    .thumb {
        width: auto;
        grid-template-columns: 100px 1fr;
    }

    .iconholder {
        margin-left: 40px;
    }

    .bar {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media(max-width: 900px) {
    .engine {
        grid-template-columns: 70px 1fr 60px;
    }

    .thumb {
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .iconholder {
        margin-left: 0;
        height: 50px;
        width: 50px;
    }

    .details {
        display: none;
    }

    .bar {
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: 30px 1fr 60px;
    }
    
    .timer {
        font-size: 0.8em;
        padding-left: 5px;
    }
}


