.side-bar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    top:0px;
    height: 100%;
    overflow:auto;
    width:500px;
    background-color: rgb(24,24,24,0.5);
    backdrop-filter:blur(20px); 
    box-shadow: 0px 0px 50px rgb(0,0,0,0.5);
    color: white;
    font-family: "Lexend",serif;
    animation: animate-in-left 0.5s ease-out;
    
}

@keyframes animate-in-left{
    0%{
        right:-300px;
    }
    100%{
        right:0px;
    }
}

.sidebar-image{
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(0,0,0,0.5);
}

.sidebar-title{
    font-size: large;
    width:400px;
    font-weight:900;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.sidebar-desc{
    width:400px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align: center;
    
}

.close{
    height:25px;
    width:25px;
    font-size: 15px;
    color:white;
    position: absolute;
    font-family: "Lexend",serif;
    font-weight:900;
    background: transparent;
    top:30px;
    left:30px;
    border:none;
    border-radius: 5px;
}

.close:hover{
    background-color: rgb(131, 131, 131);
    border-radius: 5px;
}

.iconholder:hover{
    cursor:pointer;
    opacity: 0.8;
    background-color: rgb(128, 128, 128,0.2);
}

.album{
    font-family: "Lexend",serif;
    width:400px;
    color:rgb(181, 180, 180);
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align: center;
    
}

.year{
    color:rgb(181, 180, 180);
}

.playlist:hover .artistname:hover{
    cursor: pointer;
}

@media(max-width:1366px){
    .side-bar{
    display:none;
}
}

@media (max-width: 600px) {
    .side-bar {
        width: 100%;
    }
    .sidebar-image {
        width: 200px;
        height: 200px;
    }
    .sidebar-title, .sidebar-desc {
        width: 90%;
    }
}
