body{
    background-color: rgb(24,24,24);
    color:white
}

.about-container{
    margin-top: 10em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", serif;
    gap:10px;
}

.about-logo{
    font-family: "Caesar Dressing", serif;
    color: violet;
    font-size: 8em;
}

.description{
    text-align: center;
    margin-top: 20px;
}

.git-link{
    color: rgb(48, 180, 232);
}

@media (max-width: 768px) {
    .about-logo {
        font-size: 4em;
    }
    .description {
        padding: 0 20px;
    }
    .about-container {
        margin-top: 5em;
    }
}
